img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.wp-block-audio figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-audio figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-audio {
    margin: 0 0 1em
}

.wp-block-code {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Menlo, Consolas, monaco, monospace;
    padding: .8em 1em
}

.wp-block-embed figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-embed figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-embed {
    margin: 0 0 1em
}

.blocks-gallery-caption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .blocks-gallery-caption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-image figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-image figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-image {
    margin: 0 0 1em
}

.wp-block-pullquote {
    border-bottom: 4px solid;
    border-top: 4px solid;
    color: currentColor;
    margin-bottom: 1.75em
}

.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote__citation {
    color: currentColor;
    font-size: .8125em;
    font-style: normal;
    text-transform: uppercase
}

.wp-block-quote {
    border-left: .25em solid;
    margin: 0 0 1.75em;
    padding-left: 1em
}

.wp-block-quote cite,
.wp-block-quote footer {
    color: currentColor;
    font-size: .8125em;
    font-style: normal;
    position: relative
}

.wp-block-quote.has-text-align-right {
    border-left: none;
    border-right: .25em solid;
    padding-left: 0;
    padding-right: 1em
}

.wp-block-quote.has-text-align-center {
    border: none;
    padding-left: 0
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-quote.is-style-plain {
    border: none
}

.wp-block-search .wp-block-search__label {
    font-weight: 700
}

.wp-block-search__button {
    border: 1px solid #ccc;
    padding: .375em .625em
}

:where(.wp-block-group.has-background) {
    padding: 1.25em 2.375em
}

.wp-block-separator.has-css-opacity {
    opacity: .4
}

.wp-block-separator {
    border: none;
    border-bottom: 2px solid;
    margin-left: auto;
    margin-right: auto
}

.wp-block-separator.has-alpha-channel-opacity {
    opacity: 1
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    width: 100px
}

.wp-block-separator.has-background:not(.is-style-dots) {
    border-bottom: none;
    height: 1px
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
    height: 2px
}

.wp-block-table {
    margin: 0 0 1em
}

.wp-block-table td,
.wp-block-table th {
    word-break: normal
}

.wp-block-table figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-table figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-video figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-video figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-video {
    margin: 0 0 1em
}

.wp-block-template-part.has-background {
    margin-bottom: 0;
    margin-top: 0;
    padding: 1.25em 2.375em
}


div[id*='ajaxsearchlitesettings'].searchsettings .asl_option_inner label {
    font-size: 0px !important;
    color: rgba(0, 0, 0, 0);
}

div[id*='ajaxsearchlitesettings'].searchsettings .asl_option_inner label:after {
    font-size: 11px !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.asl_w_container {
    width: 100%;
    margin: 0px 0px 0px 0px;
    min-width: 200px;
}

div[id*='ajaxsearchlite'].asl_m {
    width: 100%;
}

div[id*='ajaxsearchliteres'].wpdreams_asl_results div.resdrg span.highlighted {
    font-weight: bold;
    color: rgba(217, 49, 43, 1);
    background-color: rgba(238, 238, 238, 1);
}

div[id*='ajaxsearchliteres'].wpdreams_asl_results .results img.asl_image {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

div.asl_r .results {
    max-height: none;
}

div.asl_r.asl_w.vertical .results .item::after {
    display: block;
    position: absolute;
    bottom: 0;
    content: '';
    height: 1px;
    width: 100%;
    background: #D8D8D8;
}

div.asl_r.asl_w.vertical .results .item.asl_last_item::after {
    display: none;
}
.linkbuilding .btn {
    background-color: #da1c4a !important;
    border: none;
    color: #fff;
    padding: 10px 30px !important;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
}

h1 h2 h3 h4 h5 h6 {
    color: #da1c4a !important;
}



.wpcf7 form .wpcf7-response-output {
    border: none !important;
}

.testimonial_area1 {
    width: 100%;
    padding: 60px 0;
    float: left;
    background-size: cover;
}

.review-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    background: #fff;
}

.review-card img {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.review-card .verified-badge {
    color: #1da1f2;
}

.review-card .stars {
    color: #ffc107;
}

.review-card .footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.review-card .footer img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.review-card .footer .time {
    color: gray;
    font-size: 0.9em;
}

.footer i {
    border: 0px solid #fff;
    width: 35px ! Important;
    height: 35px !important;
    border-radius: 100%;
    padding: 0;
    text-align: center;
    margin: 0 10px 0 0px;
    display: block;
    line-height: 35px;
    color: #fff;
    vertical-align: middle;
    transition: .3s;
    background: #da1c4a;
    font-size: 18px;
}

.locationrow {
    width: 100%;
    float: left;
}

.locationcol {
    width: 11%;
    float: left;
    padding: 7px;
}

.areas__wrapper .areas_img_wrapp {
    overflow: hidden;
    border-radius: 7px;
}

.areas__wrapper a.areas_item img {
    width: 100%;
    transition: all 0.5s ease-in-out;
    border-radius: 7px;
}

@media(max-width:520px) {
    .locationcol {
        width: 30%;
    }
}

html {
    overflow-x: hidden;
}

@media only screen and (max-width: 767px) {
    .main_bnr h1,
    .main_bnr h2 {
        min-height: 0;
        margin: 0;
    }
    .srvc_info_area ul.info_graphic.main_srvc li {
        display: block;
    }
    .world_map_area ul.form_area li {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .re_for {
        margin-top: 28px !important;
    }
    .blog_area ul li {
        max-width: 100%;
    }
    .blog_area ul li .dtls_more a.cta {
        float: left;
    }
}

/*07-01-2025*/

.pricing-table {
    background-color: #ffdede55;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pricing-table h3 {
    background: #da1c4a;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: -20px -20px 20px -20px;
    text-align: center;
    color: #fff;
}

.pricing-table h3 span {
    display: block;
    font-size: 24px;
}

.pricing-table h3 small {
    display: block;
    font-size: 16px;
}

.pricing-table ul {
    list-style: disc;
    padding-left: 20px;
    flex-grow: 1;
}

.pricing-table ul li {
    padding: 5px 0;
    list-style: disc;
}

.pricing-table .btn {
    background-color: #da1c4a;
    border: none;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
}

.pricing-table .btn:hover {
    background-color: #444;
}

/*26-01-2025*/

.servicecard .servheading {
    padding: 15px;
    font-size: 20px;
}

.ig_heading {
    font-size: 41px;
    font-weight: bold;
}

.resultexpect li {
    position: relative;
    left: 15px;
    list-style: disc;
}

#book_now p {
    font-size: 21px;
}

.seoservices .icon {
    display: none;
}

.seoservices .content h4 {
    font-weight: bolder;
    font-size: 26px;
    margin: 20px 0px;
}

.seoservices li {
    line-height: 25px;
    list-style: disc;
    position: relative;
    left: 20px;
}

.main_our_serv_section .service-con {
    min-height: 140px;
}

.main_wss_section .service-con {
    /*min-height:420px;*/
    min-height: 500px;
}

.servicecard .servheading,
.servicecard:nth-child(2) .servheading,
.servicecard:nth-child(3) .servheading,
.servicecard:nth-child(4) .servheading,
.servicecard:nth-child(5) .servheading,
.servicecard:nth-child(6) .servheading {
    background: #da1c4a !important;
}

.servicecard .servdescription,
.servicecard:nth-child(2) .servdescription,
.servicecard:nth-child(3) .servdescription,
.servicecard:nth-child(4) .servdescription,
.servicecard:nth-child(5) .servdescription,
.servicecard:nth-child(6) .servdescription {
    background-color: transparent;
}

.icontextwrap.blue,
.icontextwrap.orange,
.icontextwrap.lightblue {
    background: #fff;
    color: #da1c4a;
}

/*29-01-2025*/

.custom-container {
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    padding: 0;
}

.custom-container .row {
    justify-content: center;
}

.custom-container .left-section {
    border-radius: 10px 0 0 10px;
    padding: 20px;
    text-align: center;
}

.custom-container .left-section img {
    padding: 20px;
}

.custom-container .right-section {
    padding: 40px 20px;
}

.custom-container .right-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-container .right-section p {
    color: #da1c4a;
    font-size: 16px;
    margin-bottom: 30px;
}

.custom-container .form-control {
    margin-bottom: 15px;
    border-radius: 5px;
}

.custom-container .btn-custom {
    background-color: #da1c4a;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
}

.custom-container .btn-custom:hover {
    background-color: #da1c4a;
}

@media (max-width: 767.98px) {
    .custom-container .left-section {
        border-radius: 10px 10px 0 0;
    }
    .custom-container .right-section {
        padding: 20px;
    }
}

.our-services .service-con .fa {
    background: #e1e1e1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px !important;
}

.get_started_btn_div {
    justify-content: center;
    margin-top: 100px;
}

.content_page_area {
    padding: 50px 0px 10px 0px;
}

#areas_serve__new {
    padding-top: 0px;
}

.wpcf7-not-valid-tip {
    color: #f00;
}

.plan_price {
    font-size: 26px;
    font-weight: bold;
}

.plan_price_hire_btn {
    margin-top: 10px;
}

.top_overview {
    padding: 0px 0px 50px !important;
}

.resultexpect {
    margin-bottom: 50px !important;
}

/*25-05-2025*/

.consultation-section {
    background-color: #931130;
    color: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    background-image: url('https://indeedseo.com/images/case-study-page/lets-pattern.png');
    background-size: cover;
    background-position: center center;
}

.consultation-section h2 {
    font-size: 24px;
    font-weight: bold;
}

.consultation-section p {
    font-size: 18px;
    margin: 20px 0;
}

.consultation-section .btn {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

/*06-03-2025*/

.main-container {
    padding: 50px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.main-container .box-content {
    background-color: #DA1C4A;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-container .text-section {
    max-width: 50%;
}

.main-container .box-content h1 {
    font-size: 2rem;
    font-weight: bold;
}

.main-container .box-content p {
    font-size: 1.2rem;
    margin-top: 20px;
}

.main-container .box-content ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.main-container .box-content ul li {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #fff;
}

.main-container .box-content ul li::before {
    content: '•';
    color: #ffffff;
    margin-right: 10px;
}

.main-container .btn-custom {
    background-color: #ffffff;
    border: 2px solid #ff0055;
    color: #ff0055;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}

.main-container .btn-custom:hover {
    background-color: #ff0055;
    color: #ffffff;
}

.main-container .image-section {
    max-width: 45%;
}

.main-container .image-section img {
    border-radius: 10px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .main-container .text-section,
    .image-section {
        max-width: 100%;
        text-align: center;
    }
    .main-container .box-content {
        flex-direction: column;
        align-items: center;
    }
}

/*/////////////// */

.explore_main_container .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.explore_main_container .card-header {
    background-color: #ffe9ec;
    border-bottom: none;
    border-top: 5px solid #da1c4a;
    /* Add border-top */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: #da1c4a;
}

.explore_main_container .card-body {
    text-align: center;
    flex-grow: 1;
}

.explore_main_container .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.explore_main_container .card-text {
    color: #6c757d;
}

.explore_main_container .btn-primary {
    background-color: #da1c4a;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
}

.explore_main_container .hex-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.explore_main_container .row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.explore_main_container .row-eq-height>.col-md-3 {
    display: flex;
    flex: 1 0 21%;
    /* Adjust the flex-basis to fit 4 items in a row */
    max-width: 25%;
    margin-bottom: 20px;
    /* Add margin-bottom to each column */
}

.outer_logo {
    background: #fff;
    border-radius: 10px;
    padding: 15px 20px;
}

.o_logo {
    width: 135px;
}

@media screen and (max-width: 767px) {
    .o_logo {
        width: 100%;
        margin-top: 10px;
    }
}

.footerBottomImageBox img {
    max-width: 250px;
    object-fit: contain;
}

.quick_link a {
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.quick_link a:hover {
    color: #da1c4a;
}

.modal-dialog {
    max-width: 900px;
}

.modal .audit_form h3 {
    display: none;
}

.f-16 {
    font-size: 1rem;
    color: #544d4d;
    padding: 15px 0;
    float: left;
}